<h2><%= @restaurant.name %></h2>
<p>Cuisine: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Contact: <%= @restaurant.phone_number %></p>
<p></p>
<h4>Reviews for <%= @restaurant.name %></h4>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> - <%= review.rating %></p>
<% end %>

<h4>Please take care when writing your review for <%= @restaurant.name %></h4>
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <div class="form-group">
    <%= f.input :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :rating, collection: [1,2,3,4,5], class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>

